In [41]:
import xarray as xr

In [55]:
ds = xr.open_dataset("../datasets/ds_1_point.nc", decode_times=False)
ds

<xarray.Dataset>
Dimensions:         (obs: 232323, qc_copy: 1)
Coordinates:
    time            (obs) float64 ...
    lon             (obs) float64 ...
    lat             (obs) float64 ...
    vertical        (obs) float64 ...
  * qc_copy         (qc_copy) int32 1
Dimensions without coordinates: obs
Data variables:
    vertical_type   (obs) float64 ...
    observation     (obs) float64 ...
    truth           (obs) float64 ...
    error_variance  (obs) float64 ...
    obs_type        (obs) int32 ...
    qc              (obs, qc_copy) int32 ...
    obs_key         (obs) int32 ...
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [147]:
import numpy as np
test = (np.Inf, -np.Inf, np.Inf, -np.Inf)
(lat_max, lat_min, lon_max, lon_min) = test

temp =  ds.where((
            (ds.coords['lat'] >= 4).all() & 
            (360 >= ds.coords['lon']).all()
), drop=True)
temp

<xarray.Dataset>
Dimensions:         (obs: 232323, qc_copy: 1)
Coordinates:
    time            (obs) float64 0.0 8.0 9.0 ... 6.024e+05 6.024e+05 6.024e+05
    lon             (obs) float64 142.1 139.9 139.1 139.5 ... 97.28 97.66 97.66
    lat             (obs) float64 75.81 75.81 75.81 75.81 ... 3.816 3.816 3.533
    vertical        (obs) float64 2.5e-05 2.5e-05 2.5e-05 ... 2.5e-05 2.5e-05
  * qc_copy         (qc_copy) int32 1
Dimensions without coordinates: obs
Data variables:
    vertical_type   (obs) float64 nan nan nan nan nan ... nan nan nan nan nan
    observation     (obs) float64 nan nan nan nan nan ... nan nan nan nan nan
    truth           (obs) float64 nan nan nan nan nan ... nan nan nan nan nan
    error_variance  (obs) float64 nan nan nan nan nan ... nan nan nan nan nan
    obs_type        (obs) float64 nan nan nan nan nan ... nan nan nan nan nan
    qc              (obs, qc_copy) float64 nan nan nan nan ... nan nan nan nan
    obs_key         (obs) float64 nan nan nan nan nan ... nan nan nan nan nan
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [125]:
x = ds['observation'].values
x = x[~np.isnan(x)]
(x >= 0).all()

True

In [83]:
da.where(((lat_max >= da.coords['lat']).all() & (lon_max >= da.coords['lon']).all()))

<xarray.DataArray (variable: 7, obs: 232323, qc_copy: 1)>
array([[[nan],
        [nan],
        ...,
        [nan],
        [nan]],

       [[nan],
        [nan],
        ...,
        [nan],
        [nan]],

       ...,

       [[nan],
        [nan],
        ...,
        [nan],
        [nan]],

       [[nan],
        [nan],
        ...,
        [nan],
        [nan]]])
Coordinates:
    time      (obs) float64 ...
    lon       (obs) float64 142.1 139.9 139.1 139.5 ... 96.91 97.28 97.66 97.66
    lat       (obs) float64 75.81 75.81 75.81 75.81 ... 4.099 3.816 3.816 3.533
    vertical  (obs) float64 ...
  * qc_copy   (qc_copy) int32 1
  * variable  (variable) <U14 'vertical_type' 'observation' ... 'qc' 'obs_key'
Dimensions without coordinates: obs
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [84]:
da

<xarray.DataArray (variable: 7, obs: 232323, qc_copy: 1)>
array([[[3.000000e+00],
        [3.000000e+00],
        ...,
        [3.000000e+00],
        [3.000000e+00]],

       [[1.335663e+01],
        [1.512199e+01],
        ...,
        [7.557390e+00],
        [7.514671e+00]],

       ...,

       [[1.000000e+00],
        [1.000000e+00],
        ...,
        [1.000000e+00],
        [1.000000e+00]],

       [[1.000000e+00],
        [2.000000e+00],
        ...,
        [3.318800e+04],
        [3.318900e+04]]])
Coordinates:
    time      (obs) float64 ...
    lon       (obs) float64 142.1 139.9 139.1 139.5 ... 96.91 97.28 97.66 97.66
    lat       (obs) float64 75.81 75.81 75.81 75.81 ... 4.099 3.816 3.816 3.533
    vertical  (obs) float64 ...
  * qc_copy   (qc_copy) int32 1
  * variable  (variable) <U14 'vertical_type' 'observation' ... 'qc' 'obs_key'
Dimensions without coordinates: obs
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [86]:
da['variable']

<xarray.DataArray 'variable' (variable: 7)>
array(['vertical_type', 'observation', 'truth', 'error_variance', 'obs_type',
       'qc', 'obs_key'], dtype='<U14')
Coordinates:
  * variable  (variable) <U14 'vertical_type' 'observation' ... 'qc' 'obs_key'

In [90]:
da.coords

Coordinates:
    time      (obs) float64 ...
    lon       (obs) float64 142.1 139.9 139.1 139.5 ... 96.91 97.28 97.66 97.66
    lat       (obs) float64 75.81 75.81 75.81 75.81 ... 4.099 3.816 3.816 3.533
    vertical  (obs) float64 ...
  * qc_copy   (qc_copy) int32 1
  * variable  (variable) <U14 'vertical_type' 'observation' ... 'qc' 'obs_key'

In [97]:
da.loc[:,[2,3]]

<xarray.DataArray (variable: 7, obs: 2, qc_copy: 1)>
array([[[ 3.000000e+00],
        [ 3.000000e+00]],

       [[ 1.211856e+01],
        [ 1.512340e+01]],

       [[ 1.211800e+01],
        [ 1.512248e+01]],

       [[ 1.505948e-04],
        [ 1.000000e-04]],

       [[-2.147484e+09],
        [-2.147484e+09]],

       [[ 1.000000e+00],
        [ 1.000000e+00]],

       [[ 3.000000e+00],
        [ 4.000000e+00]]])
Coordinates:
    time      (obs) float64 ...
    lon       (obs) float64 139.1 139.5
    lat       (obs) float64 75.81 75.81
    vertical  (obs) float64 ...
  * qc_copy   (qc_copy) int32 1
  * variable  (variable) <U14 'vertical_type' 'observation' ... 'qc' 'obs_key'
Dimensions without coordinates: obs
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [98]:
a = np.array([2,3,4,5,6,7,7])

In [130]:
(ds.data_vars['observation'] >= 0).all()

<xarray.DataArray 'observation' ()>
array(False)

In [139]:
min(temp['observation'].values)

nan

In [149]:
a[(1,2,6),]

array([3, 4, 7])

In [150]:
lon_max

inf

In [157]:
np.where((ds['lon']<=lon_max & ds['lat']>=20))

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [152]:
index = np.array([1,2])
a[index,]

array([3, 4])

In [171]:
a = np.array([1, 2, 3, 1, 2, 3])
np.where(
    (a>2)
#     & (a<5).any()
)[0]

array([2, 5])

In [173]:
df = da.to_dataframe(name='frame')

In [174]:
df

                                       time         lon        lat  vertical  \
variable      obs    qc_copy
vertical_type 0      1             0.000000  142.095428  75.812569  0.000025
              1      1             8.000000  139.854767  75.812569  0.000025
              2      1             9.000000  139.107880  75.812569  0.000025
              3      1             9.000000  139.481323  75.812569  0.000025
              4      1            12.000008  138.360992  75.812569  0.000025
              5      1            12.000008  138.734436  75.812569  0.000025
              6      1            14.000000  137.614105  75.812569  0.000025
              7      1            15.000000  137.987549  75.812569  0.000025
              8      1            18.000016  138.734436  74.716011  0.000025
              9      1            18.000016  139.107880  74.716011  0.000025
              10     1            25.000018  124.543571  73.691261  0.000025
              11     1            67.000000  100.643150  78.302979  0.000025
              12     1            76.000000  128.651459  72.725525  0.000025
              13     1            79.000007  105.871368  76.999107  0.000025
              14     1            79.000007  106.244812  76.999107  0.000025
              15     1            79.000007  128.278015  72.725525  0.000025
              16     1            80.000001  105.497925  76.999107  0.000025
              17     1            80.000001  127.904564  72.725525  0.000025
              18     1            81.000000  104.377594  76.999107  0.000025
              19     1            81.000000  104.751038  76.999107  0.000025
              20     1            81.000000  105.124481  76.999107  0.000025
              21     1            81.000000  127.531120  72.725525  0.000025
              22     1            82.000000  113.340248  75.812569  0.000025
              23     1            82.000000  127.157677  72.725525  0.000025
              24     1            83.000000  102.883820  76.999107  0.000025
              25     1            83.000000  103.630707  76.999107  0.000025
              26     1            83.000000  104.004150  76.999107  0.000025
              27     1            83.000000  126.784233  72.725525  0.000025
              28     1            84.000020  103.257263  76.999107  0.000025
              29     1            84.000020  112.966805  75.812569  0.000025
...                                     ...         ...        ...       ...
obs_key       232293 1        602269.000001   99.149376  10.938648  0.000025
              232294 1        602275.000009   99.149376  10.651252  0.000025
              232295 1        602277.000000   98.775932  10.364119  0.000025
              232296 1        602278.000000   99.149376  10.364119  0.000025
              232297 1        602281.000017   98.775932  10.077242  0.000025
              232298 1        602282.000011   99.149376  10.077242  0.000025
              232299 1        602287.000000   98.775932   9.790613  0.000025
              232300 1        602292.000000   98.775932   9.504226  0.000025
              232301 1        602300.000000   98.775932   9.218072  0.000025
              232302 1        602303.000018   98.775932   8.932143  0.000025
              232303 1        602305.000007   98.402489   8.646433  0.000025
              232304 1        602308.000000   98.775932   8.646433  0.000025
              232305 1        602365.000004   95.414940   5.515934  0.000025
              232306 1        602368.000000   97.282158   4.948744  0.000025
              232307 1        602369.000000   96.908714   4.948744  0.000025
              232308 1        602372.000006   97.282158   4.665330  0.000025
              232309 1        602372.000006   97.655602   4.665330  0.000025
              232310 1        602373.000001   96.908714   4.665330  0.000025
              232311 1        602375.000000   96.535271   4.665330  0.000025
              232312 1        602376.000000   96.161827   4.665330  0.000025
              232313 1        602376.000000   97.282158   4.382028  0.000025
              232314 1        602377.000000   97.655602   4.382028  0.000025
              232315 1        602378.000014   96.908714   4.382028  0.000025
              232316 1        602379.000008   96.535271   4.382028  0.000025
              232317 1        602381.000000   97.282158   4.098830  0.000025
              232318 1        602382.000000   97.655602   4.098830  0.000025
              232319 1        602383.000000   96.908714   4.098830  0.000025
              232320 1        602385.000016   97.282158   3.815729  0.000025
              232321 1        602387.000005   97.655602   3.815729  0.000025
              232322 1        602392.000018   97.655602   3.532719  0.000025

                                frame
variable      obs    qc_copy
vertical_type 0      1            3.0
              1      1            3.0
              2      1            3.0
              3      1            3.0
              4      1            3.0
              5      1            3.0
              6      1            3.0
              7      1            3.0
              8      1            3.0
              9      1            3.0
              10     1            3.0
              11     1            3.0
              12     1            3.0
              13     1            3.0
              14     1            3.0
              15     1            3.0
              16     1            3.0
              17     1            3.0
              18     1            3.0
              19     1            3.0
              20     1            3.0
              21     1            3.0
              22     1            3.0
              23     1            3.0
              24     1            3.0
              25     1            3.0
              26     1            3.0
              27     1            3.0
              28     1            3.0
              29     1            3.0
...                               ...
obs_key       232293 1        33160.0
              232294 1        33161.0
              232295 1        33162.0
              232296 1        33163.0
              232297 1        33164.0
              232298 1        33165.0
              232299 1        33166.0
              232300 1        33167.0
              232301 1        33168.0
              232302 1        33169.0
              232303 1        33170.0
              232304 1        33171.0
              232305 1        33172.0
              232306 1        33173.0
              232307 1        33174.0
              232308 1        33175.0
              232309 1        33176.0
              232310 1        33177.0
              232311 1        33178.0
              232312 1        33179.0
              232313 1        33180.0
              232314 1        33181.0
              232315 1        33182.0
              232316 1        33183.0
              232317 1        33184.0
              232318 1        33185.0
              232319 1        33186.0
              232320 1        33187.0
              232321 1        33188.0
              232322 1        33189.0

[1626261 rows x 5 columns]

In [179]:
df.where(df.lat > 20).where(df.lon > 100)

                                   time         lon        lat  vertical  \
variable      obs    qc_copy
vertical_type 0      1         0.000000  142.095428  75.812569  0.000025
              1      1         8.000000  139.854767  75.812569  0.000025
              2      1         9.000000  139.107880  75.812569  0.000025
              3      1         9.000000  139.481323  75.812569  0.000025
              4      1        12.000008  138.360992  75.812569  0.000025
              5      1        12.000008  138.734436  75.812569  0.000025
              6      1        14.000000  137.614105  75.812569  0.000025
              7      1        15.000000  137.987549  75.812569  0.000025
              8      1        18.000016  138.734436  74.716011  0.000025
              9      1        18.000016  139.107880  74.716011  0.000025
              10     1        25.000018  124.543571  73.691261  0.000025
              11     1        67.000000  100.643150  78.302979  0.000025
              12     1        76.000000  128.651459  72.725525  0.000025
              13     1        79.000007  105.871368  76.999107  0.000025
              14     1        79.000007  106.244812  76.999107  0.000025
              15     1        79.000007  128.278015  72.725525  0.000025
              16     1        80.000001  105.497925  76.999107  0.000025
              17     1        80.000001  127.904564  72.725525  0.000025
              18     1        81.000000  104.377594  76.999107  0.000025
              19     1        81.000000  104.751038  76.999107  0.000025
              20     1        81.000000  105.124481  76.999107  0.000025
              21     1        81.000000  127.531120  72.725525  0.000025
              22     1        82.000000  113.340248  75.812569  0.000025
              23     1        82.000000  127.157677  72.725525  0.000025
              24     1        83.000000  102.883820  76.999107  0.000025
              25     1        83.000000  103.630707  76.999107  0.000025
              26     1        83.000000  104.004150  76.999107  0.000025
              27     1        83.000000  126.784233  72.725525  0.000025
              28     1        84.000020  103.257263  76.999107  0.000025
              29     1        84.000020  112.966805  75.812569  0.000025
...                                 ...         ...        ...       ...
obs_key       232293 1              NaN         NaN        NaN       NaN
              232294 1              NaN         NaN        NaN       NaN
              232295 1              NaN         NaN        NaN       NaN
              232296 1              NaN         NaN        NaN       NaN
              232297 1              NaN         NaN        NaN       NaN
              232298 1              NaN         NaN        NaN       NaN
              232299 1              NaN         NaN        NaN       NaN
              232300 1              NaN         NaN        NaN       NaN
              232301 1              NaN         NaN        NaN       NaN
              232302 1              NaN         NaN        NaN       NaN
              232303 1              NaN         NaN        NaN       NaN
              232304 1              NaN         NaN        NaN       NaN
              232305 1              NaN         NaN        NaN       NaN
              232306 1              NaN         NaN        NaN       NaN
              232307 1              NaN         NaN        NaN       NaN
              232308 1              NaN         NaN        NaN       NaN
              232309 1              NaN         NaN        NaN       NaN
              232310 1              NaN         NaN        NaN       NaN
              232311 1              NaN         NaN        NaN       NaN
              232312 1              NaN         NaN        NaN       NaN
              232313 1              NaN         NaN        NaN       NaN
              232314 1              NaN         NaN        NaN       NaN
              232315 1              NaN         NaN        NaN       NaN
              232316 1              NaN         NaN        NaN       NaN
              232317 1              NaN         NaN        NaN       NaN
              232318 1              NaN         NaN        NaN       NaN
              232319 1              NaN         NaN        NaN       NaN
              232320 1              NaN         NaN        NaN       NaN
              232321 1              NaN         NaN        NaN       NaN
              232322 1              NaN         NaN        NaN       NaN

                              frame
variable      obs    qc_copy
vertical_type 0      1          3.0
              1      1          3.0
              2      1          3.0
              3      1          3.0
              4      1          3.0
              5      1          3.0
              6      1          3.0
              7      1          3.0
              8      1          3.0
              9      1          3.0
              10     1          3.0
              11     1          3.0
              12     1          3.0
              13     1          3.0
              14     1          3.0
              15     1          3.0
              16     1          3.0
              17     1          3.0
              18     1          3.0
              19     1          3.0
              20     1          3.0
              21     1          3.0
              22     1          3.0
              23     1          3.0
              24     1          3.0
              25     1          3.0
              26     1          3.0
              27     1          3.0
              28     1          3.0
              29     1          3.0
...                             ...
obs_key       232293 1          NaN
              232294 1          NaN
              232295 1          NaN
              232296 1          NaN
              232297 1          NaN
              232298 1          NaN
              232299 1          NaN
              232300 1          NaN
              232301 1          NaN
              232302 1          NaN
              232303 1          NaN
              232304 1          NaN
              232305 1          NaN
              232306 1          NaN
              232307 1          NaN
              232308 1          NaN
              232309 1          NaN
              232310 1          NaN
              232311 1          NaN
              232312 1          NaN
              232313 1          NaN
              232314 1          NaN
              232315 1          NaN
              232316 1          NaN
              232317 1          NaN
              232318 1          NaN
              232319 1          NaN
              232320 1          NaN
              232321 1          NaN
              232322 1          NaN

[1626261 rows x 5 columns]

In [189]:
temp = ds.where(ds['lat']>20,drop=True)

In [190]:
temp

<xarray.Dataset>
Dimensions:         (obs: 164983, qc_copy: 1)
Coordinates:
    time            (obs) float64 0.0 8.0 9.0 ... 6.021e+05 6.021e+05 6.021e+05
    lon             (obs) float64 142.1 139.9 139.1 139.5 ... 94.67 94.29 93.92
    lat             (obs) float64 75.81 75.81 75.81 75.81 ... 20.02 20.02 20.02
    vertical        (obs) float64 2.5e-05 2.5e-05 2.5e-05 ... 2.5e-05 2.5e-05
  * qc_copy         (qc_copy) int32 1
Dimensions without coordinates: obs
Data variables:
    vertical_type   (obs) float64 3.0 3.0 3.0 3.0 3.0 ... 3.0 3.0 3.0 3.0 3.0
    observation     (obs) float64 13.36 15.12 12.12 15.12 ... 7.008 8.002 8.024
    truth           (obs) float64 13.37 15.12 12.12 15.12 ... 7.009 7.989 7.989
    error_variance  (obs) float64 0.0002904 0.0001282 ... 0.0001832 0.0004331
    obs_type        (obs) float64 -2.147e+09 -2.147e+09 ... -2.147e+09
    qc              (obs, qc_copy) float64 1.0 1.0 1.0 1.0 ... 1.0 0.0 1.0 1.0
    obs_key         (obs) float64 1.0 2.0 3.0 ... 3.295e+04 3.296e+04 3.296e+04
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [191]:
temp = temp.where(temp['lon'] < 140, drop=True)

In [192]:
temp

<xarray.Dataset>
Dimensions:         (obs: 156849, qc_copy: 1)
Coordinates:
    time            (obs) float64 8.0 9.0 9.0 ... 6.021e+05 6.021e+05 6.021e+05
    lon             (obs) float64 139.9 139.1 139.5 138.4 ... 94.67 94.29 93.92
    lat             (obs) float64 75.81 75.81 75.81 75.81 ... 20.02 20.02 20.02
    vertical        (obs) float64 2.5e-05 2.5e-05 2.5e-05 ... 2.5e-05 2.5e-05
  * qc_copy         (qc_copy) int32 1
Dimensions without coordinates: obs
Data variables:
    vertical_type   (obs) float64 3.0 3.0 3.0 3.0 3.0 ... 3.0 3.0 3.0 3.0 3.0
    observation     (obs) float64 15.12 12.12 15.12 12.12 ... 7.008 8.002 8.024
    truth           (obs) float64 15.12 12.12 15.12 12.12 ... 7.009 7.989 7.989
    error_variance  (obs) float64 0.0001282 0.0001506 ... 0.0001832 0.0004331
    obs_type        (obs) float64 -2.147e+09 -2.147e+09 ... -2.147e+09
    qc              (obs, qc_copy) float64 1.0 1.0 1.0 1.0 ... 1.0 0.0 1.0 1.0
    obs_key         (obs) float64 2.0 3.0 4.0 ... 3.295e+04 3.296e+04 3.296e+04
Attributes:
    featureType:    point
    title:          Restructured netCDF file from Nancy
    author:         Jason Ngo, SIParCS Intern
    source:         Nancy Collins, NCAR|UCAR
    conventions:    CF-1.7
    creation_date:  YYYY MM DD HH MM SS = 2019 06 30 16 05 57

In [195]:
A = [
    max(ds['lon'].values),
    max(ds['lat'].values),
    min(ds['lon'].values),
    min(ds['lat'].values)
]

In [196]:
A

[179.813278198242, 78.302978515625, 0.186721995472908, -41.0584831237793]